
@{
    ViewBag.Title = "Succes";
}

<div class="nav">
    <ul>
        <li class="episodeAdmin">@Html.ActionLink("Episode Administration", "Index", "Episode", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li class="batteryAdmin">@Html.ActionLink("Battery Administration", "Index", "Battery", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li class="batteryAdmin">@Html.ActionLink("Transmission Administration", "Index", "Transmission", new { area = "" }, new { @class = "navbar-brand-active" })</li>
    </ul>
</div>

<h1>Succes</h1>
<p>The file/s was succesfully uploaded to the database.</p>

