/*Knap design*/
.patientButton button {
   background: #ffffff;
   margin-left: 30px;
   margin-bottom: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #000000;
   font-size: 14px;
   font-family: Calibri;
}

.patientButton button:hover {
    background: #E7E7E7;
    color: #000000;
    cursor: pointer;       
}

.patientButton button:active {
   background: #E7E7E7;
}

/*Popup til Patient liste*/
#dialog {
     background-color: #fff;
     min-width: 400px;
     min-height: 400px;
}

/*Design i popup*/
.ui-widget div{
    font-family: Calibri;
    color: #000000;
    font-size: 14px;
}

.ui-widget div button {
    background: #ffffff;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #000000;
   font-size: 14px;
   font-family: Calibri;
}

.ui-widget div button:hover {
    background: #E7E7E7;
    color: #000000;
    cursor: pointer;       
}

.ui-widget div button:active {
   background: #E7E7E7;
}
/*Design SLUT*/