/*#myButton {
 background: url("/Content/img/graph_icon.png") no-repeat;
 width: 62px;
 height: 24px;
 }

#myInputButton { 
 background: url("/Content/img/graph_icon.png") no-repeat;
 opacity: 0;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 width: 67px;
 height: 26px;
 cursor: pointer;
 cursor: hand;
}*/