.dropdown {
    width: 200px;
    cursor: pointer; 
    padding: 6px;
    position: relative;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Pilene i dropdown knappen - lukket. */
.dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    cursor: pointer;
}

/* Pilene i dropdown knappen - aktiv. */
.dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #E7E7E7;
    margin-top: -9px;
}


.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* Placere dropdown menuen lige under baren */
    border: inherit;
    left: -1px; 
    right: -1px; 
    opacity: 0; /* gemmer dropdown listen */
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none; 
}

.is-active .dropdown-list {
    opacity: 1; /* Viser dropdown menuen */
    pointer-events: auto; /* Sikre at brugeren stadig kan vælge checkboxes */
}



.dropdown-list li label {
    background-color: #FFFFFF;
    display: block;
    border-bottom: 1px solid #D4D4D4;
    padding: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
 
/*Liste farver*/
.dropdown-list li label:hover {
    background-color: #FEFDCD;
    color: #555556;
}


.dropdown label:target h2:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 15px solid transparent;
    border-left-color: #D4D4D4;
    top: 20%;
    left: 100%;
}