html {
    background: white no-repeat center center fixed; 
}﻿


body { /*Hele appens størrelse*/
    background-color: #FFF;
    background-size: 100%;
    width: 1280px;
}

wrapper{ /*Selve indholdet*/
    max-width: 80%;
    min-width: 550px;
    display: block;
    margin: auto;
}
  
/*Hovedsektionen*/
header { 
    height: 100px; 
    width: 100%;
}

img{
    float: left;
    padding-top: 20px;
}
h2 {
    float: right;
}

/*Navigationsbar*/
.nav ul { 
  background-color: #F0F0F0;
  text-align: left;
  padding: 0px 0px 4px 4px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 20px;
  border-bottom-color: #286152;
  border-top: none;
  border-right: none;
  border-left: none;
  width: auto;
}

.nav li {
  font-family: Arial;
  font-size: small;
  line-height: 30px;
  height: 30px;
}
 
.nav a{
  text-decoration: none;
  background-color: #F0F0F0;
  color: #000000;
  display: block;
  padding: 4px;
  margin-left: -4px;
  margin-right: -4px;
}
 
.nav .navbar-brand:hover {
  background: #E7E7E7;
  color: #000000;
  cursor: pointer;
}

.nav .navbar-brand-active {
    background: #286152;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px;
    margin-top: -15px;
}

.nav .navbar-brand {
  background: #F0F0F0;
  color: #000000;
  cursor: default;
}
 
.nav li {
    display: inline-block;
    margin-right: 4px;
}
/*Navigationsbar SLUT*/

/*Dato opstilling*/
.datePicker {
    font-size: smaller;
    background-color: #FFF;
    font-family: Calibri;
}

.date-picker1 {
    float: left;
    padding-right: 10px;
    line-height: 0px;
    margin-right: 15px;
    font-family: Calibri;
}

.date-picker2{
    float: left;
    padding-right: 10px;
    line-height: 0px;
    margin-left: 15px;
    font-family: Calibri;
}
/*Dato opstilling SLUT*/

/*??????*/
 .container body-content {
      display: block;
      position: page;
      width: auto;
  }


/*Footer opsætning*/
#footer{
    background-color: #666666;
    font-family: Arial;
    font-size: small;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    margin: auto;
    position: fixed;
    width: 79%;
    bottom: 0px;
}

.terms{
    float: left;
    padding-left: 10px;
    text-decoration: underline;
    margin: auto;
}

.copyright {
    float: right;
    padding-right: 10px;
    margin: auto;
}
/*Footer opsætning SLUT*/