html {
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}﻿


body {
    background-color: #FFF;
    background-size: 130%;
    width: 1280px;
}

wrapper{
    max-width: 80%;
    min-width: 550px;
    display: block;
    background-clip: border-box;
    margin: auto;
    /*background-attachment: scroll;
    
    background-size: auto;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    min-height: 100%;
    line-height: 21.021px;
    margin-bottom: -155px;
    margin-left: 61.7962px;
    margin-right: 61.7962px;
    margin-top: 0px;
    min-width: 500px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  /*margin-left: 30px;
  background: 0;
  width: 300px;
  height: auto;
  background-position: top center;*/*/
}
  
header { 
    height: 100px; 
    width: 100%;
}

.nav ul {
  list-style: none;
  background-color: #F0F0F0;
  text-align: left;
  padding: 0px 0px 4px 4px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 20px;
  border-bottom-color: #286152;
  border-top: none;
  border-right: none;
  border-left: none;
  width: auto;
}

.nav li {
  font-family: Arial;
  font-size: small;
  line-height: 30px;
  height: 30px;

}
 
.nav a{
  text-decoration: none;
  background-color: #F0F0F0;
  color: #000000;
  display: block;
  /*transition: .3s background-color;*/
  padding: 4px;
  margin-left: -4px;
  margin-right: -4px;
}
 
.nav .navbar-brand:hover {
  background: #E7E7E7;
  color: #000000;
}


.nav .navbar-brand-active {
    background: #286152;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px;
    margin-top: -15px;
}

  .nav .navbar-brand {
  background: #F0F0F0;
  color: #000000;
  cursor: default;
}
 
  .nav li {
    display: inline-block;
    margin-right: 4px;
  }

.datePicker {
    font-size: smaller;
    background-color: #FFF;
    font-family: Calibri;
}
  .date-picker1 {
      float: left;
      padding-right: 10px;
      line-height: 0px;
      margin-right: 15px;
      font-family: Calibri;

  }

  .date-picker2{
      float: left;
      padding-right: 10px;
      line-height: 0px;
      margin-left: 15px;
      font-family: Calibri;

  }



  .container body-content {
      display: block;
      position: page;
      width: auto;
  }




.footer { 
    position: absolute;
    bottom: 0;
    background-color: #666666;
    color: #FFF;
    max-width: inherit;
    min-width: inherit;
    width: 100%;
    font-family: Arial;
    font-size: small;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: auto;
}

.terms{
    float: left;
    padding-left: 10px;
    text-decoration: underline;
    margin: auto;
}

.copyright {
    float: right;
    padding-right: 10px;
    margin: auto;
}