body {
  margin: 0 auto;
  padding: 0;
  background: #FFF;
  max-width: 1000px;
  height: auto;
  background-position: top center;
}

header { 
    height: 100px; 
    width: 100%;

}

 
.nav ul {
  list-style: none;
  background-color: #F0F0F0;
  text-align: left;
  padding: 4px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 20px;
  border-bottom-color: #286152;
  border-top: none;
  border-right: none;
  border-left: none;
  width: auto;
  position: center;
}

.nav li {
  font-family: Arial;
  font-size: small;
  line-height: 30px;
  height: 34px;

}
 
.nav a{
  text-decoration: none;
  background-color: #F0F0F0;
  color: #000000;
  display: block;
  transition: .3s background-color;
  padding: 4px;
  margin-left: -4px;
  margin-right: -4px;

}
 
.nav .navbar-brand:hover {
  background: #E7E7E7;
  color: #000000;
}


 .nav .navbar-brand-active {
    background: #286152;
    color: #FFF;
    padding-top: 15px;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

  .nav .navbar-brand {
  background: #F0F0F0;
  color: #000000;
  cursor: default;
}
 
  .nav li {
    display: inline-block;
    margin-right: 4px;
  }

  .container body-content {
      display: block;
      height: 600px;
      width: auto;
  }


.footer { 
    position: fixed;
    background-color: #666666;
    color: #FFF;
    width: 1000px;
    font-family: Arial;
    font-size: small;
    padding-bottom: 3px;
    padding-top: 3px;
}

.terms{
    float: left;
    padding-left: 10px;
    text-decoration: underline;
    margin: auto;
}

.copyright {
    float: right;
    padding-right: 10px;
    margin: auto;
}


