table {
    border-collapse: collapse;
    position: center;
    width: 100%;
    padding-bottom: 20px;
}

table th {
    text-align: left;
    font-weight: normal;
    font-size: small;
    color: #555556;
    font-family: Arial;
    border: 2px solid #D4D4D4;
    background-color: #E7E7E7;
    padding: 3px;
}

table th.hiddenCell {
    display: none;
}

table tr {
    border-bottom: 1px solid #D4D4D4;
}

table tr.trData {
    display: table-row;
}

table tr:hover {
    background: #FEFDCD;
}

table td {
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: Arial;
    font-size: small;
    color: #465B4B;
}
table td.cellWithNumber {
    text-align: center;
}
table td.hiddenCell {
    display: none;
}



.graphButton {
    margin:3px;
}
 
table td.cellImage #graphInputButton {
 background: url("/Content/img/graph_icon.png") no-repeat;
 opacity: 0;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 width: 67px;
 height: 26px;
 cursor: pointer;
}

/*#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
 }

#overlay div{
     width: 700px;
     max-height: 500px;
     margin: 100px auto;
     margin-top: 100px;
     padding-top: -50px;
     background-color: #fff;
     border: 1px solid #000;
     text-align:center;
}


#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}*/

#container div{
    min-width: 500px; 
    height: 350px; 
    padding: -5px;
    margin: 0 auto;
    border: none;

}
.close {
    cursor: pointer;
    float: right;
}

.no-close .ui-dialog-titlebar-close {
    display: none 
}